header{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}
main{
  
    background-color: aquamarine;
    font-weight: 600;
}
.box{
 display: flex;
 flex-direction: column;
 background-color: darkcyan;

}
.b{
    background-color: blanchedalmond;
   width: 100px;
  margin: 20px;
  text-align: center;
  line-height: 65px;
  font-size: 30px;
}
